<div class="top-row navbar navbar-expand navbar-dark bg-dark px-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">UTS Frontend</a>

        <nav class="navbar-nav ms-auto">
            <div class="nav-item">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="/categories">
                    <span class="bi bi-folder-fill" aria-hidden="true"></span> Categories
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="/courses">
                    <span class="bi bi-book-fill" aria-hidden="true"></span> Courses
                </NavLink>
            </div>
        </nav>
    </div>
</div>
